<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Work Request</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<nav th:fragment="navigation">
    <a th:href="@{/workrequest}">Work Requests</a> |
    <a th:href="@{/workrequest/add}">New Work Request</a> |
    <a th:href="@{/buildings}">Buildings</a> |
    <a>Make Some More Tabs Here!</a>
</nav>

</body>
</html>