<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<br />

<div>
<form method="post" style="max-width:600px;" th:object="${workRequest}">
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="reportedBy">Reported By</label>
        <input class="form-control" th:field="*{reportedBy}" />
        <span th:errors="*{reportedBy}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="contactNumber">Contact Number</label>
        <input class="form-control" th:field="*{contactNumber}" />
        <span th:errors="*{contactNumber}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="building">Building</label>
        <select name="buildingId">
            <option th:each="building : ${buildings}"
                    th:text="${building.name}"
                    th:value="${building.id}"></option>
        </select>
        <span th:errors="*{building}" class="error"></span>
    </div>

    <input type="submit" value="Save" />
</form>
</div>

</body>
</html>