<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<br />


<div>
    <input class="form-control" id="descriptionInput" type="text" placeholder="Search..." />
</div>

<br/>
<div>
    <table id="workRequestTable" class="table table-striped">
        <thead>
            <tr>
                <th>Date Requested</th>
                <th>Description</th>
                <th>Building</th>
                <th>Status</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="workRequestData">
            <tr th:each="workRequest : ${workRequests}">
                <td><a th:href="@{/workrequest/view/{id}(id=${workRequest.getId()})}"  th:text="${workRequest.dateRequested}"></a></td>
                <td><a th:href="@{/workrequest/view/{id}(id=${workRequest.getId()})}"  th:text="${workRequest.description}"></a></td>
                <td><a th:text="${workRequest.building.name}"></a></td>
                <td><a th:text="${workRequest.status.status}"></a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>