<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<br />


<div>
    <form method="post" th:object="${searchForm}">
        <h2>Search by:</h2>

        <ul class="form-group">
            <li th:each="field : *{fields}" style="list-style-type:none;display:inline-block;padding-right:5px;padding-left:5px;">
                <input type="radio" th:field="*{searchField}" th:value="${field}" th:checked="${field == searchField}"/>
                <label th:for="${#ids.prev('searchField')}" th:text="${field.name}"></label>
            </li>
        </ul>

        <div class="form-group">
            <label th:for="keyword">Keyword</label>
            <input class="form-control" th:field="*{keyword}" />
        </div>


    </form>
</div>

<br/>
<div>
    <table id="workRequestTable" class="table table-striped">
        <thead>
            <tr>
                <th>Date Requested</th>
                <th>Description</th>
                <th>Building</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="workRequest : ${workRequests}">
                <td><a th:href="@{/workrequest/view/{id}(id=${workRequest.getId()})}"  th:text="${workRequest.dateRequested}"></a></td>
                <td><a th:href="@{/workrequest/view/{id}(id=${workRequest.getId()})}"  th:text="${workRequest.description}"></a></td>
                <td><a th:text="${workRequest.building.name}"></a></td>
                <td><a th:text="${workRequest.status.status}"></a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>