<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br/>

<div>
    <table id="buildingTable" class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${buildings}">
            <td th:text="${building.id}"></td>
            <td th:text="${building.name}"></td>
            <td th:text="${building.age}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>